registry=https://npm.corp.maana.io/artifactory/api/npm/npm
@types:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@remy:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=90cbb2fc-e31a-4bc6-b3b7-2d8da52210ab
